.contact_item {
  padding: 16px 0 32px;

  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > p,
    button {
      background: none;
      border: none;
      color: #007aff;
      font-size: 16px;
      cursor: pointer;
    }
    & > button:disabled {
      color: #8e8e93;
    }
  }

  &_name {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    margin-top: 12px;
  }

  &_actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    &_item {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 64px;
      border-radius: 16px;
      border: 1px solid #007aff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      margin: 0 8px;
      color: #007aff;
    }
  }

  &_info_item {
    padding: 16px 0 8px;
    border-bottom: 1px solid black;
    font-size: 16px;

    & > p {
      padding: 2px 0;
    }
    &_company_name {
      color: #007aff;
    }
    & > a {
      text-decoration: none;
      color: #007aff;
      width: 100%;
    }
  }
}

.contact_user_img {
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #8e8e93;
  border-radius: 50%;
  color: #8e8e93;
  font-size: 56px;
  margin: 16px auto 0;

  & > img {
    height: 100%;
    width: 100%;
  }
}
